/* Add CSS Styling */
.odd {
    background-color: rgb(240, 98, 155);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}
.bigger {
    font-size: 24px;
}
#second {
    color: rgb(10, 30, 250);
    font-size: 36px;
}
#fourth {
    background-color: rgb(0, 170, 120);
    font-size: 24px;
    font-weight: bold;
}