body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex: 1;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 12px;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 800;
  padding: 4px 16px;
  display: flex;
  align-items: center;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 12px;
}

ul {
  list-style: none;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

a {
  text-decoration: none;
  color:#eeeeee;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  flex: 1;
  padding: 12px;
  min-width: 200px;
}